header{
    background-color: red;
    height: 66px;
}

body{
    padding:0px;
    margin:0px;
    background-color: white;
    font-family: 'Lora', serif;
}

header * {
    color: white;
}

header .logo{
    float: left;
    margin-left:2em;
    height: inherit;
}


header .logo-text{
    margin:10px;
     font-family: 'Candal', serif;
}

header .logo-text span {
    color: black;
}


header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li {
    float:left;
    position: relative;
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration:none;
}

header .menu-toggle{
    display: none;
}

header ul li a:hover {
    background: cyan;
     transition:0.5s;
}
