header{
    background-color: red;
    height: 65px;
}

body{
    padding:0px;
    margin:0px;
    background-color: white;
    font-family: 'Lora', serif;
}

header * {
    color: white;
}

header .logo{
    position: relative;
    float: left;
    height: inherit;
}

header .logo-text{
    margin:10px;
    margin-left: 13px;
    font-family: 'Candal', serif;
}

header .logo-text span {
    color: black;
}

header .menu-toggle{
    display: none;
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li {
    float:left;
    position: relative;
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
    background: darkred;
    transition:0.5s;
}

header ul li ul{
    position:absolute;
    top:66px;
    right:0px;
    width: 130px;
    display:none;
}

header ul li:hover ul{
    display:block;
}

header ul li ul li{
    width:100%;
}

header ul li ul li a{
    padding: 10px;
    background:rgba(255, 255, 255, 0.374);
    color:#444;
}

header ul li ul li a:hover{
    background: #d5d6d68c;
}

.cv-text, .landing-page{
    text-align: center;
    background-color: lightgray;
}

/* MEDIA QUERIES */
@media only screen and (max-width:750px){
    
    header ul {
        width:100%;
        background: rgb(255, 83, 83);
         max-height: 0px;
        overflow: hidden;
    }

    header ul li{
        width:100%;
    }

    header ul li ul{
        position:static;
        width:100%;
        display:block;
    }

     .cv-text{
        text-align: left;
        background-color: lightgray;
    }

    .landing-page{
        text-align: left;
        background-color: lightgray;
    }

    .cv-text:hover {
        text-align: left;
        color: rgba(255, 255, 255, 0.54);
    }

    .landing-page:hover {
        text-align: left;
        color: rgba(255, 255, 255, 0.54);
    }

      header .menu-toggle{
        display:block;
        position:absolute;
        right:20px;
        top:15px;
        font-size:1.5em;
    }
}
