header{
    background-color: red;
    height: 66px;
}

body{
    padding:0px;
    margin:0px;
    background-color: white;
}

header .logo{
    float: left;
}

header ul {
    float: right;
}

header .menu-toggle{
    display: none;
}
